body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
img {
  display: block;
  max-inline-size: 100%;
}

.hero-section {
  background-image: url(https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?q=80&w=1762&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: /*center 30% 5%*/ 30% 10%;
  filter: grayscale(100%);
  background-repeat: no-repeat;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar nav {
  padding: 20px 30%;
  background: gray;
}
.navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}
.navbar nav li button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", serif;
  transition: 0.3s ease-in-out;
}
.navbar nav li button:hover {
  color: black;
  border: 1px solid white;
  background: white;
}
.names {
  padding: /*250px 0 350px 0*/ 270px 0 440px 0;
}
.names p:first-of-type {
  color: white;
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
  margin: 0 0 20px 0;
  font-family: "Cormorant Garamond", serif;
}
.names p:last-of-type {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.countdown p {
  color: white;
  text-align: center;
  padding-bottom: /*100px*/ 190px;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}

/* DETAILS SECTION */
.details-sec {
  padding: 100px 15%;
  background: white;
  z-index: 15;
}
.details-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*
.details-inner {
  background: url(https://images.unsplash.com/photo-1722955119978-6a0596e7adba?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    0 0 / cover no-repeat;
  filter: grayscale(100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/
.details-inner h3 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0px;
  font-family: "Cormorant Garamond", serif;
}
.details-inner p {
  font-family: "IBM Plex Sans", sans-serif;
}
.details-inner h4 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Cormorant Garamond", serif;
}
.details-inner div:nth-child(2) p {
  margin-top: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
}
.details-inner ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.details-inner li {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  line-height: 35px;
}
.details-image img {
  max-inline-size: 100%;
  max-width: 500px;
  filter: grayscale(100%);
  border-radius: 10px;
}
#detail-rsvp {
  background: white;
  border: 1px solid black;
  border-radius: 60px;
  color: black;
  padding: 5px 25px;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0px;
  transition: 0.3s ease-in-out;
  font-weight: 900;
}
#detail-rsvp:hover {
  color: white;
  border: 1px solid lightgray;
  background: lightgray;
}

/* OUR STORY SECTION */
.our-story {
  background: black;
}
.our-story-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 10%;
}
.story-image {
  width: 50%;
}
.story-image img {
  border-radius: 10px;
  filter: grayscale(100%);
}
.story-content {
  width: 50%;
  color: white;
  text-align: center;
  padding-left: 60px;
}
.story-content h3 {
  font-size: 4rem;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.story-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
}
.story-content a {
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.story-content a:hover {
  color: gray;
}

/* REGISTRY SECTION */
.registry {
  background: white;
}
.registry-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10%;
}
.reg-content {
  text-align: center;
  padding-right: 60px;
}
.reg-content h3 {
  font-size: 4rem;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.reg-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 40px;
}
.reg-content a {
  font-size: 1.5rem;
  color: black;
  transition: 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 60px;
  text-decoration: none;
  padding: 5px 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
}
.reg-content a:hover {
  color: white;
  background: lightgray;
  border: 1px solid lightgray;
}
.reg-image img {
  border-radius: 10px;
  filter: grayscale(100%);
}

/* FOOTER */
.footer {
  background: black;
  color: white;
}
.footer-inner {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cormorant Garamond", serif;
}
.center img {
  filter: grayscale(100%);
  border-radius: 10px;
  max-width: 800px;
}
.left {
  padding: 0 30px;
}
.left h3 {
  text-align: center;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.right {
  padding: 0 30px;
}
.right ul {
  padding-left: 0;
  list-style-type: none;
}
.right ul li {
  padding: 10px 0;
}
.right a {
  color: white;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  font-size: 1.5rem;
}
