/**/
/**/
/**/
/**/
/**/
/**/
/**/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

img {
  display: block;
  max-inline-size: 100%;
}
/**/
/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar nav {
  padding: 20px 30%;
  background: black;
}
.navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}
.nav-rsvp {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", serif;
  transition: 0.3s ease-in-out;
}
.navbar nav li button:hover {
  color: black;
  border: 1px solid white;
  background: white;
}
.navbar-mobile {
  display: none;
  background: black;
}
.navbar-mobile nav {
  display: flex;
  justify-content: end;
}
.navbar-mobile nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}
.navbar-mobile nav ul li {
  padding: 10px 0;
}
.navbar-mobile nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}
.mobile-rsvp {
  padding: 3px 10px;
  background: white;
  color: black !important;
  border-radius: 3px;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}
.mobile-rsvp:hover {
  color: white !important;
  background: black;
  border: 1px solid white;
}
.burger-btn {
  display: flex;
  justify-content: end;
  padding: 20px 15px 20px 0;
}
.hamburger {
  display: block;
  width: 3.5rem;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}
/* create the .is-active class in javascript */
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
#nav-links-mobile {
  background: black;
  position: fixed;
  top: 60px; /* top: 170px */
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 90;
  padding-top: 25px;
  transition: 0.4s;
}
#nav-links-mobile.is-active {
  left: 65%;
}
/* HOME PAGE */
/* HERO */
.hero-section {
  background-image: url(https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?q=80&w=1762&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: /*center 30% 5%*/ 30% 10%;
  filter: grayscale(100%);
  background-repeat: no-repeat;
}
.names {
  padding: /*250px 0 350px 0*/ 270px 0 440px 0;
}
.names p:first-of-type {
  color: white;
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
  margin: 0 0 20px 0;
  font-family: "Cormorant Garamond", serif;
}
.names p:last-of-type {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.countdown p {
  color: white;
  text-align: center;
  padding-bottom: /*100px*/ 190px;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}
/**/
/**/
/**/
/* WEDDING DETAILS */
.details-sec {
  padding: 100px 15%;
  background: white;
  z-index: 15;
}
.details-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details-inner h3 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0px;
  font-family: "Cormorant Garamond", serif;
}
.details-inner p {
  font-family: "IBM Plex Sans", sans-serif;
}
.details-inner h4 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Cormorant Garamond", serif;
}
.details-inner div:nth-child(2) p {
  margin-top: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
}
.details-inner ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.details-inner li {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  line-height: 35px;
}
.details-image img {
  max-inline-size: 100%;
  max-width: 500px;
  filter: grayscale(100%);
  border-radius: 10px;
}
#detail-rsvp {
  background: white;
  border: 1px solid black;
  border-radius: 60px;
  color: black;
  padding: 5px 25px;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0px;
  transition: 0.3s ease-in-out;
  font-weight: 900;
  text-decoration: none;
}
#detail-rsvp:hover {
  color: white;
  border: 1px solid lightgray;
  background: lightgray;
}
/* END WEDDING DETAILS */
/**/
/**/
/* OUR STORY */
.our-story {
  background: black;
}
.our-story-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 10%;
}
.story-image {
  width: 50%;
}
.story-image img {
  border-radius: 10px;
  filter: grayscale(100%);
}
.story-content {
  width: 50%;
  color: white;
  text-align: center;
  padding-left: 60px;
}
.story-content h3 {
  font-size: 4rem;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.story-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
}
.story-content a {
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.story-content a:hover {
  color: gray;
}

/* END OUR STORY */
/**/
/**/
/* REGISTRY */
.registry {
  background: white;
}
.registry-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10%;
}
.reg-content {
  text-align: center;
  padding-right: 60px;
}
.reg-content h3 {
  font-size: 4rem;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.reg-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 40px;
}
.reg-content a {
  font-size: 1.5rem;
  color: black;
  transition: 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 60px;
  text-decoration: none;
  padding: 5px 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
}
.reg-content a:hover {
  color: white;
  background: lightgray;
  border: 1px solid lightgray;
}
.reg-image img {
  border-radius: 10px;
  filter: grayscale(100%);
}
/* END REGISTRY */
/**/
/**/
/* FOOTER */
.footer {
  background: black;
  color: white;
}
.footer-inner {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cormorant Garamond", serif;
}
.center img {
  filter: grayscale(100%);
  border-radius: 10px;
  max-width: 800px;
}
.left {
  padding: 0 30px;
}
.left h3 {
  text-align: center;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.right {
  padding: 0 30px;
}
.right ul {
  padding-left: 0;
  list-style-type: none;
}
.right ul li {
  padding: 10px 0;
}
.right a {
  color: white;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  font-size: 1.5rem;
}
/* END FOOTER */
/**/
/**/
/* PAGE - OUR STORY */
.os-inner {
  padding: 100px 20%;
}
.os-title h2 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin: 0;
  font-size: 4rem;
}
.os-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.os-image img {
  border-radius: 10px;
  filter: grayscale(100%);
  max-width: 400px;
}
.os-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 40px;
  padding-left: 60px;
  text-align: center;
}
/* END PAGE - OUR STORY */
/**/
/**/
/* PAGE - GALLERY */
.gallery-title h2 {
  text-align: center;
  font-size: 4rem;
}
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  margin: 100px 0 300px 0;
}
.carousel {
  display: flex;
  gap: 10px;
  width: 100%;
  /*transform: rotateX(360deg);*/
  animation: moveSlides 30s linear infinite;
}
@keyframes moveSlides {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.carousel-item img {
  cursor: pointer;
  max-width: 300px;
  min-height: 450px;
  filter: grayscale(100%);
  opacity: 0.8;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel-item img:hover {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: 50px auto;
  display: block;
  width: 30%;
  justify-content: center;
  align-items: center;
}
#modal-img {
  transition: 0.3s;
  object-fit: contain;
  filter: grayscale(100%);
}
/*#modal-img:hover {
  opacity: 0.7;
}*/
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* END PAGE - GALLERY */
/**/
/**/
/* PAGE - THINGS TO DO */
.ttd-bg {
  background-image: url(https://images.unsplash.com/photo-1615227776911-8c1a6b260d07?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: cover;
  filter: grayscale(100%);
}
.ttd-content-bg {
  padding: 245px 0;
  margin: 0 10%;
}
.ttd-content {
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
}
.ttd-content h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  padding: 70px 0 20px 0;
}
.ttd-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
}
.ttd-box {
  color: white;
  text-align: center;
}
.ttd-box h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
}
.ttd-box ul {
  padding: 0;
}
.ttd-box li {
  font-family: "IBM Plex Sans", sans-serif;
  list-style-type: none;
  line-height: 40px;
  font-size: 1.2rem;
  opacity: 0;
}
/* END PAGE - THINGS TO DO */
/**/
/**/
/**/
/**/
/**/
/* MEDIA QUERIES */
@media screen and (max-width: 1540px) {
  .footer-inner {
    padding: 80px 5%;
  }
}
@media screen and (max-width: 1450px) {
  .navbar nav {
    padding: 20px 25%;
  }
  .details-sec {
    padding: 80px 10%;
  }
  .os-inner {
    padding: 80px 10%;
  }
}
@media screen and (max-width: 1350px) {
  .details-sec {
    padding: 80px 5%;
  }
  .details-inner h3 {
    font-size: 3.5rem;
  }
  .details-inner h4 {
    font-size: 2rem;
  }
  #details-rsvp {
    font-size: 1rem;
  }
  .details-image img {
    max-width: 450px;
  }
  .center img {
    max-width: 600px;
  }
}
@media screen and (max-width: 1300px) {
  .ttd-content-bg {
    padding: 150px 0;
    margin: 0 5%;
  }
  .ttd-content-bg h2 {
    font-size: 3rem;
    padding: 50px 0 0 0;
  }
  .ttd-box h3 {
    font-size: 1.7rem;
    margin-bottom: 0;
  }
  .ttd-box ul {
    margin-bottom: 0;
  }
  .ttd-box li {
    font-size: 1.1rem;
    line-height: 35px;
  }
  .carousel-wrapper {
    margin: 100px 0 200px 0;
  }
  .carousel-item img {
    max-width: 250px;
    min-height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .hero-section {
    background-position: 30% 30%;
  }
  .names {
    padding: 220px 0 380px 0;
  }
  .countdown p {
    padding-bottom: 150px;
  }
  .our-story-inner {
    padding: 80px 5%;
  }
  .story-content h3 {
    font-size: 3rem;
  }
  .story-content p {
    font-size: 1.1rem;
  }
  .reg-content p {
    font-size: 1.1rem;
  }
  .reg-content a {
    font-size: 1.3rem;
    padding: 5px 20px;
  }
  .center img {
    max-width: 500px;
  }
  .left,
  .right {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .navbar nav {
    padding: 20px 15%;
  }
  .names p:first-of-type {
    font-size: 5rem;
  }
  .details-flex {
    justify-content: space-evenly;
  }
  .details-image img {
    max-width: 400px;
  }
  .our-story-inner {
    padding: 60px 5%;
  }
  .registry-inner {
    padding: 80px 5%;
  }
  .reg-content h3 {
    font-size: 3rem;
  }
  .os-inner {
    padding: 50px 10%;
  }
  .os-flex {
    padding-top: 30px;
  }
  .os-title h2 {
    font-size: 3.5rem;
  }
  .carousel-wrapper {
    margin: 80px 0 140px 0;
  }
  .carousel-item img {
    max-width: 200px;
    min-height: 350px;
  }
}
@media screen and (max-width: 1050px) {
  .os-flex {
    display: block;
  }
  .os-image img {
    margin: 0 auto;
  }
  .os-content p {
    padding-left: 0;
  }
  .ttd-content-bg h2 {
    padding: 30px 0 0 0;
  }
  .ttd-flex {
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px 20px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .details-inner h3 {
    font-size: 3rem;
  }
  .details-inner h4 {
    font-size: 1.8rem;
  }
  #detail-rsvp {
    font-size: 1rem;
  }
  .details-image img {
    max-width: 350px;
  }
  .our-story-inner {
    display: block;
  }
  .story-image {
    width: auto;
  }
  .story-image img {
    max-width: 500px;
    margin: 0 auto;
  }
  .story-content {
    width: auto;
    padding: 20px 5% 0 5%;
  }
  .registry-inner {
    display: block;
  }
  .reg-content {
    padding: 0 5% 30px 5%;
  }
  .reg-image img {
    margin: 0 auto;
    max-width: 500px;
  }
  .center img {
    max-width: 400px;
  }
}
@media screen and (max-width: 950px) {
  .navbar nav {
    padding: 20px 10%;
  }
  .hero-section {
    background-position: 30% 50%;
  }
  .names {
    padding: 130px 0 330px 0;
  }
  .countdown p {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 900px) {
  .os-image img {
    max-width: 300px;
  }
  .os-content p {
    font-size: 1.1rem;
  }
  .carousel-wrapper {
    margin: 80px 5% 140px 5%;
    width: auto;
  }
  .carousel {
    flex-wrap: wrap;
    justify-content: center;
    animation: none;
  }
  .doubled {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .details-inner h3 {
    font-size: 2.5rem;
  }
  .details-inner h4 {
    font-size: 1.5rem;
  }
  .details-image img {
    max-width: 300px;
  }
  .footer-inner {
    padding: 60px 5%;
  }
  .left h3 {
    font-size: 2.5rem;
  }
  .right a {
    font-size: 1.2rem;
  }
  .center img {
    max-width: 300px;
  }
}
@media screen and (max-width: 730px) {
  .details-flex {
    display: block;
  }
  .details-inner {
    text-align: center;
  }
  .details-image img {
    margin: 0 auto;
    padding-top: 30px;
  }
  .story-image img {
    max-width: 400px;
  }
  .reg-image img {
    max-width: 400px;
  }
  .left h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
  .names p:first-of-type {
    font-size: 4rem;
  }
  .footer-inner {
    padding: 20px 5%;
    display: block;
  }
  .center img {
    margin: 0 auto;
  }
  .right ul {
    text-align: center;
  }
  .os-inner {
    padding: 50px 5%;
  }
  .os-title h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .story-image img {
    max-width: 300px;
  }
  .story-content h3 {
    font-size: 2rem;
  }
  .story-content p {
    font-size: 1rem;
  }
}
/**/
