body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
img {
  display: block;
  max-inline-size: 100%;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar nav {
  padding: 20px 30%;
  background: black;
}
.navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}
.navbar nav li button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", serif;
  transition: 0.3s ease-in-out;
}
.navbar nav li button:hover {
  color: black;
  border: 1px solid white;
  background: white;
}

/* CONTENT */
.os-inner {
  padding: 100px 20%;
}
.os-title h2 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin: 0;
  font-size: 4rem;
}
.os-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.os-image img {
  border-radius: 10px;
  filter: grayscale(100%);
  max-width: 400px;
}
.os-content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 40px;
  padding-left: 60px;
  text-align: center;
}

/* GALLERY */
.slider-wrap {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4000px;
  display: flex;
  will-change: transform;
  background: black;
}
.slider-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  filter: grayscale(100%);
}
.img-div {
  position: relative;
  left: 1%;
  top: 2.5%;
  width: 98%;
  height: 95%;
  background-size: cover;
  background-position: center;
}

/* FOOTER */
.footer {
  background: black;
  color: white;
}
.footer-inner {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cormorant Garamond", serif;
}
.center img {
  filter: grayscale(100%);
  border-radius: 10px;
  max-width: 800px;
}
.left {
  padding: 0 30px;
}
.left h3 {
  text-align: center;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.right {
  padding: 0 30px;
}
.right ul {
  padding-left: 0;
  list-style-type: none;
}
.right ul li {
  padding: 10px 0;
}
.right a {
  color: white;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  font-size: 1.5rem;
}

/* THINGS TO DO */
.ttd-bg {
  background-image: url(https://images.unsplash.com/photo-1615227776911-8c1a6b260d07?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: cover;
  filter: grayscale(100%);
}
.ttd-content-bg {
  padding: 245px 0;
  margin: 0 10%;
}
.ttd-content {
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
}
.ttd-content h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  padding: 70px 0 20px 0;
}
.ttd-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
}
.ttd-box {
  color: white;
  text-align: center;
}
.ttd-box h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
}
.ttd-box ul {
  padding: 0;
}
.ttd-box li {
  font-family: "IBM Plex Sans", sans-serif;
  list-style-type: none;
  line-height: 40px;
  font-size: 1.2rem;
  opacity: 0;
}
